@import "tailwindcss";

@theme {
  --color-primary: #2563eb;   /* Blue */
  --color-secondary: #1e3a8a; /* Darker Blue */
  --color-accent: #60a5fa;    /* Light Blue */
}

body {
  @apply bg-white text-gray-800;
  font-family: 'Inter', sans-serif;
}
